.App {
    font-family: sans-serif;
    text-align: center;
  }

.headerBtn {
  background: #ffffff;
  border: none;
  margin-left: 10;
}

.headerBtn:hover {
  background-color: #ffffff;
  cursor: pointer;  
  color: orange;
  margin-left: 10;
} 